@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kuttleGradient: linear-gradient(91.08deg, #FF00A1 -2.69%, #FFAC30 111.81%);
}

body {
  font-family: Inter, sans-serif;
  @apply text-blueDark;
}

@layer components {
  .bg-kuttle-gradient {
    background-image: var(--kuttleGradient);
  }

  .border-kuttle-gradient {
    border-image: var(--kuttleGradient) 1;
  }

  .kuttle-tabs a {
    @apply relative h-full flex justify-center items-center px-6;
  }

  .kuttle-tabs a > div {
    @apply font-bold text-sm text-gray1 transition-colors;
  }

  .kuttle-tabs a:hover > span,
  .kuttle-tabs a.active > span {
    @apply text-white;
  }

  .kuttle-tabs a:after {
    content: " ";
    @apply block absolute left-0 bottom-0 w-full h-1 bg-kuttle-gradient transition-opacity opacity-0;
  }

  .kuttle-tabs a.active:after {
    @apply opacity-100;
  }

  .kuttle-account-table {
    @apply min-w-full
  }

  .kuttle-account-table th,
  .kuttle-account-table td {
    @apply border border-gray3
  }
}
